* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: flex;
  background-color: cornflowerblue;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
  margin: 20px;
  padding: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin: 5px;
  height: 30px;
}

.btn {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(113, 113, 238);
}

.btn:hover {
  opacity: 0.5;
  transform: scale(1.1);
}


.btn2 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 30px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn2:hover,
.btn2:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.btn2:active {
  opacity: .5;
}

